@page "/"

<h1>Warmachine and Hordes Card Generator</h1>

<p>This is a simple web application that allows you to automatically generate and download a card pdf from <a target="_blank" href="http://cards.privateerpress.com">Privateer Press's Card Database</a>.</p>

<p>It accepts a link for a <a target="_blank" href="https://conflictchamber.com/">Conflict Chamber</a> list, and will generate a PDF from the card database using the models in the list.</p>

<br />

<EditForm Model="this" OnValidSubmit="GeneratePDF">
    <div class="form-group">
        <label class="control-label" for=""><b>Enter List Url</b></label>
        <InputText id="listInput" class="form-control" @bind-Value="@ConflictChamberList" />
        <br />
        <button type="submit" class="btn btn-primary">Generate!</button>
    </div>
</EditForm>

@if (this.PDFLinks != null && this.PDFLinks.Count > 0)
{
    <h2>PDF Links</h2>
    foreach (var link in PDFLinks)
    {
        <p><a href="@link.Value">@link.Key</a></p>
    }
}